/* TABaq - Dark Theme Desktop Style */

@import url('css/variables.css');
@import url('css/base.css');
@import url('css/layout.css');
@import url('css/animations.css');
@import url('css/icons.css');
@import url('css/components.css');
@import url('css/responsive.css');